In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"D:\DAP2304R1_DATA-ANALYSIS\Thao tác dữ liệu\DATA\shopeep_koreantop_clothing_shop_data.csv")
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [2]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['date_collected','shop_location','response_time']]
df

    date_collected               shop_location response_time
0       2021-06-13                         NaN      10:13:55
1       2021-06-13    San Nicolas,Metro Manila      10:43:05
2       2021-06-13     Pasay City,Metro Manila      08:32:07
3       2021-06-13        Binondo,Metro Manila      09:10:38
4       2021-06-13  Caloocan City,Metro Manila      11:40:59
..             ...                         ...           ...
741     2021-07-06          Legazpi City,Albay      08:45:30
742     2021-07-06                         NaN      08:01:23
743     2021-07-06                         NaN      08:46:30
744     2021-07-06        Binondo,Metro Manila      12:19:44
745     2021-07-06     Pasay City,Metro Manila      10:02:42

[746 rows x 3 columns]

In [3]:
# 2. Tách cột dữ liệu có kiểu chuỗiTa có thể sử dụng các phép toán tách chuỗi splitHàm str.split(‘Ký tự phân cách’) có tác dụng tách chuỗi ban đầu str thành các chuỗi con được ngăn cách nhau bởi ký tự phân cách


# Tách cột shop_location thành 2 cột District và City

df['District']=df['shop_location'].str.split(',').str[0]
df['City']=df['shop_location'].str.split(',').str[1]
df

C:\Users\notho\AppData\Local\Temp\ipykernel_10604\2338400551.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['District']=df['shop_location'].str.split(',').str[0]
C:\Users\notho\AppData\Local\Temp\ipykernel_10604\2338400551.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City']=df['shop_location'].str.split(',').str[1]

,date_collected,shop_location,response_time,District,City
0,2021-06-13,NaN,10:13:55,NaN,NaN
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila
...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay
742,2021-07-06,NaN,08:01:23,NaN,NaN
743,2021-07-06,NaN,08:46:30,NaN,NaN
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila

In [4]:
#2. Tách cột dữ liệu có kiểu chuỗiTa có thể sử dụng các phép toán tách chuỗi splitHàm str.split(‘Ký tự phân cách’) có tác dụng tách chuỗi ban đầu str thành các chuỗi con được ngăn cách nhau bởi ký tự phân cách


# Tách cột shop_location thành 2 cột District và City

df['District'] = df['shop_location'].str.split(',').str[0]
df['City'] =df ['shop_location'].str.split(',').str[1]
df

C:\Users\notho\AppData\Local\Temp\ipykernel_10604\2168014212.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['District'] = df['shop_location'].str.split(',').str[0]
C:\Users\notho\AppData\Local\Temp\ipykernel_10604\2168014212.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'] =df ['shop_location'].str.split(',').str[1]

,date_collected,shop_location,response_time,District,City
0,2021-06-13,NaN,10:13:55,NaN,NaN
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila
...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay
742,2021-07-06,NaN,08:01:23,NaN,NaN
743,2021-07-06,NaN,08:46:30,NaN,NaN
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila

In [3]:
df['rate category'] = df.apply(lambda x: udf(x['rating_good']), axis = 1)

In [4]:
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,rate category
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0,v g
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0,v g
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0,v g
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0,v g
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0,v g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0,b
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0,b
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0,b
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0,v g
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0,v g

In [6]:
print(df['rate category'].value_counts(ascending=True))

g       56
b      159
v g    531
Name: rate category, dtype: int64

In [17]:
df1 = df.groupby(['rate category']).count()
df1

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,new
rate category,,,,,,,,,,,,,,,,,,,
b,159,159,159,159,159,159,159,159,159,159,159,60,159,159,159,153,159,159,159
g,56,56,56,56,56,56,56,56,56,56,56,30,56,56,56,56,56,56,56
v g,531,531,531,531,531,531,531,531,531,531,531,338,531,531,531,531,531,531,531

In [19]:
df2 = df1/df1.shape[0]
df2

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,new
rate category,,,,,,,,,,,,,,,,,,,
b,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,20.000000,53.000000,53.000000,53.000000,51.000000,53.000000,53.000000,53.000000
g,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,10.000000,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667
v g,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,112.666667,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000

In [20]:
length = df1.shape[0]

In [23]:
d2 = df1/length
d2

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,new
rate category,,,,,,,,,,,,,,,,,,,
b,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,20.000000,53.000000,53.000000,53.000000,51.000000,53.000000,53.000000,53.000000
g,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,10.000000,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667,18.666667
v g,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,112.666667,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000

In [ ]:
df = pd.read_csv("data\shopeep_koreantop_clothing_shop_data.csv")
# 1. tao 1 cot moi/  rategood > 1k ==>very good , 500 -- 999: good, else : bad

# 2. tinh tong cac cateogty do sao cho / verified =1

# 3. % vs phan 2 


#print(df.head)
conditions = [(df['rating_good']>=1000),(df['rating_good']>=500)&(df['rating_good']<=999),(df['rating_good']<500)]
choices =['very good','good','bad']
df['Rate category'] = np.select(conditions,choices)
#print(df)

def udf(value):
    if value>1000:
        return "very good"
    elif value >=500 and value <=999:
        return "good"
    return "bad"
#
df["Rate category"] = df.apply(lambda x:udf(x["rating_good"]),axis=1)


#2 
# b21: toi can lay tat cung rc sao no t/m is_shopee_verified =1 
df_1 = df[(df['is_shopee_verified']==1)]

length = df_1.shape[0]
# b22: thuc hien thong ke
df_1 = df_1.groupby(['Rate category'])['Rate category'].count()

# % verify

df_2 = df_1 / length
print(df_2)

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"D:\DAP2304R1_DATA-ANALYSIS\Thao tác dữ liệu\DATA\shopeep_koreantop_clothing_shop_data.csv")
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [14]:
df1 = df[['shop_location']]
df1

                  shop_location
0                           NaN
1      San Nicolas,Metro Manila
2       Pasay City,Metro Manila
3          Binondo,Metro Manila
4    Caloocan City,Metro Manila
..                          ...
741          Legazpi City,Albay
742                         NaN
743                         NaN
744        Binondo,Metro Manila
745     Pasay City,Metro Manila

[746 rows x 1 columns]

In [ ]:
df1['city'] = df1[]

In [15]:
str(np.nan)

'nan'

In [18]:
def udf(value, index):
    try:
        if pd.isna(value):
            return -1
        return value.split(',')[index]
    except Exeption as e:
        logging. info(e)
        return -1

In [20]:
df['city'] = df['shop_location'].apply(lambda x: udf(x,0))
df["district"] = df["shop_location"].apply(lambda x: udf(x,1))
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,city,district
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0,-1,-1
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0,San Nicolas,Metro Manila
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0,Pasay City,Metro Manila
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0,Binondo,Metro Manila
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0,Caloocan City,Metro Manila
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0,Legazpi City,Albay
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0,-1,-1
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0,-1,-1
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0,Binondo,Metro Manila
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0,Pasay City,Metro Manila

In [23]:
df[['a','b']] = df['shop_location'].str.split(',', expand = True)
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,...,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,city,district,a,b
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,...,181,17510,729,4.81,1,0,-1,-1,NaN,NaN
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,...,78,2656,198,4.68,0,0,San Nicolas,Metro Manila,San Nicolas,Metro Manila
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,...,4647,1071829,18073,4.91,1,0,Pasay City,Metro Manila,Pasay City,Metro Manila
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,...,44,18959,215,4.94,1,0,Binondo,Metro Manila,Binondo,Metro Manila
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,...,680,39252,2383,4.73,1,0,Caloocan City,Metro Manila,Caloocan City,Metro Manila
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,...,0,32,0,5.00,0,0,Legazpi City,Albay,Legazpi City,Albay
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,...,1,9,0,4.60,0,0,-1,-1,NaN,NaN
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,...,16,463,16,4.75,1,0,-1,-1,NaN,NaN
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,...,1960,103289,3982,4.78,0,0,Binondo,Metro Manila,Binondo,Metro Manila
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,...,13401,708666,30799,4.77,0,0,Pasay City,Metro Manila,Pasay City,Metro Manila